@model TrPo.Models.RegisterModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/auth_reg_help.css">
    <link rel="stylesheet" href="/css/submit.css">
    <title>Регистрация</title>
</head>
<body>
    <form asp-action="Index" asp-controller="Home">
        <input class="btn_logo_other" type="image" src="/pictures/logo_small_new.png" alt="LookTo">
    </form>
    <div class="auth_reg_help">
        <h1 align="center">Регистрация</h1>
        <form asp-action="Registration" asp-controller="Account" asp-antiforgery="true">
            <div id="main_registration">
                Email: <br><input type="email" name="email" id="email" placeholder="Email"> <br>
                <span>@Html.ValidationMessage("addr")</span>
                Ваш login: <br><input type="text" asp-for="Nickname" id="nickname" placeholder="Ваш nickname"> <br>
                Пароль: <br><input type="password" asp-for="Password" id="password" placeholder="Пароль"> <br>
                Подтвердите пароль: <br><input type="password" asp-for="ConfirmPassword" id="repeat_password" placeholder="Подтвердите пароль">
                <span style="color: red; font-size: 12px" asp-validation-for="ConfirmPassword"></span>
            </div> <br>
            <div id="other_registration">
                Фамилия: <br><input type="text" asp-for="LastName" id="last_name" placeholder="Фамилия"> <br>
                Имя: <br><input type="text" asp-for="FirstName" id="first_name" placeholder="Имя"> <br>
            </div>
            <input type="submit" name="submit" id="submit" class="submit" value="Регистрация">
        </form>
    </div>
</body>
</html>