@model TrPo.Models.ChangePasswordModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/changes.css">
    <link rel="stylesheet" href="/css/submit.css">
    <title>Изменить пароль</title>
</head>
<body>
    <form asp-action="Index" asp-controller="Home">
        <input class="btn_logo_other" type="image" src="/pictures/logo_small_new.png" alt="LookTo">
    </form>
    <div class="changes">
        <h1 align="center">Изменить пароль</h1>
        <form action="#">
            <div id="password">
                Старый пароль: <br><input type="password" asp-for="OldPassword" id="old_password" placeholder="Старый парольd"> <br>
                <span>@Html.ValidationMessage("old")</span>
                Новый пароль: <br><input type="password" asp-for="NewPassword" id="new_password" placeholder="Новый пароль"> <br>
                <span>@Html.ValidationMessage("new")</span>
                Повторите новый пароль: <br><input type="password" asp-for="RepeatPassword" id="repeat_password" placeholder="Повторите новый пароль"> <br>
                <span style="color: red; font-size: 12px" asp-validation-for="RepeatPassword"></span>
            </div> <br>
            <input type="hidden" value="@User.FindFirst(x => x.Type == "email").Value" , name="Email" />
            <input type="submit" name="submit" id="submit" class="submit" value="Изменить пароль">
        </form>
    </div>
</body>
</html>